section.footer
  div.footer__content.container
    ul.footer__list
      li.footer__list-item
        a(href='#projects').footer__link Projects
      li.footer__list-item
        a(href='#').footer__link Resume
      li.footer__list-item
        a(href='mailto:21100180@lums.edu.pk').footer__link Mail
    p.footer__text Made with
      i.fa.fa-heart.love-icon
      span and
      i.fa.fa-coffee.coffee-icon
      span by Mohsin Ul Islam.
    p.footer__text.copyright-text Copyright &copy; 2020, GNU Open Source Licence
    ul.contact__list
      li.contact__list-item 
        i.fa.fa-envelope.contact__list-icon
        span 21100180@lums.edu.pk
      li.contact__list-item
        i.fa.fa-phone.contact__list-icon
        span +92 344 2617246
    ul.social__list.social__list--footer
      li.social__list-item
        a(href='https://github.com/Mohsin-Ul-Islam' target='_blank').social__link
          i.social__icon.fab.fa-github
      li.social__list-item
        a(href='https://www.linkedin.com/in/mohsin-ul-islam-979a92188/' target='_blank').social__link
          i.social__icon.fab.fa-linkedin
      li.social__list-item
        a(href='#' target='_blank').social__link
          i.social__icon.fab.fa-twitter
      li.social__list-item
        a(href='#' target='_blank').social__link
          i.social__icon.fab.fa-discord
      li.social__list-item
        a(href='#' target='_blank').social__link
          i.social__icon.fab.fa-facebook-f
