head
  title Mohsin
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='author' content='Mohsin Ul Islam')
  link(rel='icon', href='/images/logo.ico')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/fontawesome/css/all.min.css')
