doctype html
html(lang='html' dir='ltr')
  include head.pug
  body
    include loader.pug
    section.preload
      include navigation.pug
      main
        block content
      include footer.pug
    
    script(src='/javascripts/main.js' type='text/javascript')
