nav.nav.container.float-down
  ul.nav__list
    li.nav__list-item.nav__logo
      a(href='/').nav__link M.
    li.nav__list-item
      a(href='/').nav__link.nav__link--active Home
    li.nav__list-item
      a(href='/#projects').nav__link Projects
    li.nav__list-item
      a(href='/#about').nav__link About
