nav.nav
  ul.nav__list
    li.nav__list-item
      a(href='#').nav__link.nav__link--active Home
    li.nav__list-item
      a(href='#').nav__link Portfolio
    li.nav__list-item
      a(href='#').nav__link Resume
    li.nav__list-item
      a(href='#').nav__link About
