extends components/layout

block content
  section.hero
    div.hero__wrapper.container
      article.hero__content
        h1.hero__title.float-right Hello, I'm Mohsin.
        p.hero__designation.float-right Computer Scientist
        p.hero__info.float-right I am a computer science student at Lahore University of Management Sciences with current academic standing of Senior. I love solving complex problems using modern computer technology with elegance. I also love playing football and gymnastics. I read lots of quality books because that fills my soul and mind with content.
        a(href="#projects").btn.btn--ghost.float-up Projects
        a(href="/downloads/resume").btn.btn--primary.float-up Download Resume
        ul.social__list
          li.social__list-item.float-up
            a(href='https://github.com/Mohsin-Ul-Islam' target='_blank').social__link
              i.social__icon.fab.fa-github
          li.social__list-item.float-up
            a(href='https://www.linkedin.com/in/mohsin-ul-islam-979a92188/' target='_blank').social__link
              i.social__icon.fab.fa-linkedin
          li.social__list-item.float-up
            a(href='https://twitter.com/mohsin_ninja' target='_blank').social__link
              i.social__icon.fab.fa-twitter
          li.social__list-item.float-up
            a(href='#' target='_blank').social__link
              i.social__icon.fab.fa-discord
          li.social__list-item.float-up
            a(href='https://web.facebook.com/syedmohsin.islam' target='_blank').social__link
              i.social__icon.fab.fa-facebook-f
      figure.hero__figure.float-left
        img(src='/images/hero.svg').hero__image
      a(href='#projects').nav--guide.float-still-y
        div.arrow.arrow--down
  
  section.section#projects
    div.section__wrapper.container
      article.section__content
        h2.section__title Projects
        div.cards
          div.card
            div.card__content
              h3.card__title Hikerr Website
              datetime.card__date July, 2020
              figcaption.card__info
                p Hikerr is a travel agency currently operating in Pakistan. The project contains complete website for Hikerr including the administration portal. The website supports bookings of travel, online payment, sign in and sign up services.
              a(href='https://hikerr.co' target='_blank').btn.btn--ghost Visit Project
              
          div.card
            div.card__content
              h3.card__title Conway's game of life
              datetime.card__date June, 2020
              figcaption.card__info
                p This project is a browser based simulation of Conway's game of life. You can read more about it 
                  a(href='https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life' target='_blank') here
                  span . The simulation is capable of providing step as well as time (in milliseconds) based game evolution. It also supports pause and play.
              a(href='https://mohsin-ul-islam.github.io/game-of-life/', target='_blank').btn.btn--ghost Visit Project
          
          
          div.card
            div.card__content
              h3.card__title LSCSE Website
              datetime.card__date August, 2019
              figcaption.card__info
                p LUMS Society of Chemical Sciences and Engineering is one of the prestigious student societies that has made to International News within first year of its existance. The project is a simple website for the mentioned society. This site is updated annually.
              a(href='https://lscse.lums.edu.pk' target='_blank').btn.btn--ghost Visit Project
     
          div.card
            div.card__content
              h3.card__title Dxball
              datetime.card__date Febraury, 2019
              figcaption.card__info
                p Dxball is a remake of classic dxball game. The game consist of different kinds of bricks to be broken by player using a metal ball and a platform to avoid the ball falling down. This game is made in C++ using SFML.
              a(href='https://github.com/Mohsin-Ul-Islam/dxball' target='_blank').btn.btn--ghost Source Code
              
          div.card
            div.card__content
              h3.card__title Chess
              datetime.card__date July, 2020
              figcaption.card__info
                p This project is a chess game made in C++ using SFML. The project is not only a chess game but a good example of best design patterns and their practices. Work for computer player using artificial intelligence is in process. 
              a(href='https://github.com/Mohsin-Ul-Islam/chess' target='_blank').btn.btn--ghost Source Code
              


  section.section#education
    div.section__wrapper.container
      article.section__content
        h2.section__title Education
        //div.experience__header
          h2.experience__title Experience
          p.experience__info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          a(href='').btn.btn--ghost Linkedin
          a(href='').btn.btn--primary Download Resume
        div.experience__cards
          div.experience__card
            div.card__content
              p.experience__date August 2003 - April 2011
              h3.experience__designation Working Folks Grammar School
              p.experience__company General Sciences, Literature

          div.experience__card
            div.card__content
              p.experience__date April 2011 - June 2017
              h3.experience__designation Karnal Sher Khan Cadet College Swabi
              p.experience__company Pre Engineering
          div.experience__card
            div.card__content
              p.experience__date August 2017 - Present
              h3.experience__designation Lahore University of Management Sciences
              p.experience__company BS Computer Science

  section.section#experience
    div.section__wrapper.container
      article.section__content
        h2.section__title Experience
        //div.experience__header
          h2.experience__title Experience
          p.experience__info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          a(href='').btn.btn--ghost Linkedin
          a(href='').btn.btn--primary Download Resume
        div.experience__cards
          div.experience__card
            div.card__content
              p.experience__date July 2020 - Present
              h3.experience__designation Software Engineering Internship
              p.experience__company Laam.pk
  
  section.section#testimonials
    div.section__wrapper.container
      article.section__content
        h2.section__title Testimonials
        div.cards
          div.card
            div.card__content
              i.fa.fa-quote-left.testimonials__quote
              figcaption.card__info
                p I met Mohsin-ul-Islam and requested him to spare some time to design the LSCSE website. He was extremely helpful in guiding me through the whole process. He did everything that I asked in a very professional and timely manner. I am delighted with his performance and would recommend him and his company.
              div.testimonials__bottom
                figure.testimonials__figure
                  img(src='/images/azhan.jpg').testimonials__image
                div.testimonials__details
                  p.testimonials__author Muhammad Azhan
                  p.testimonials__designation LSCSE, Founder &amp; Ex President
                  
          div.card
            div.card__content
              i.fa.fa-quote-left.testimonials__quote
              figcaption.card__info
                p I met Mohsin-ul-Islam and requested him to spare some time to design the LSCSE website. He was extremely helpful in guiding me through the whole process. He did everything that I asked in a very professional and timely manner. I am delighted with his performance and would recommend him and his company.
              div.testimonials__bottom
                figure.testimonials__figure
                  img(src='/images/sam.jpg').testimonials__image
                div.testimonials__details
                  p.testimonials__author Muhammad Sameer
                  p.testimonials__designation Esports @ LUMS, President
                  
          div.card
            div.card__content
              i.fa.fa-quote-left.testimonials__quote
              figcaption.card__info
                p I met Mohsin-ul-Islam and requested him to spare some time to design the LSCSE website. He was extremely helpful in guiding me through the whole process. He did everything that I asked in a very professional and timely manner. I am delighted with his performance and would recommend him and his company.
              div.testimonials__bottom
                figure.testimonials__figure
                  img(src='/images/usama.jpg').testimonials__image
                div.testimonials__details
                  p.testimonials__author Muhammad Usama
                  p.testimonials__designation Hikerr, Founder