.btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  margin-right: 1rem;
  border: 2px solid var(--clr-dark);
  transition: all 0.4s ease-in-out;
}

.btn--ghost {
  color: var(--clr-dark);
}

.btn--ghost:hover {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

.btn--primary {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

.btn--primary:hover {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}
